version: "3.9"
services:
  frigate:
    container_name: frigate
    # privileged: true
    restart: unless-stopped
    image: {{ frigate_container_image }}
    cap_add:
      - CAP_PERFMON
    shm_size: "256mb"
    devices:
      - /dev/bus/usb:/dev/bus/usb # passes the USB Coral
      # Intel QuickSync
      - /dev/dri/renderD128:/dev/dri/renderD128
{% if frigate_hwaccel_args == "preset-rpi-64-h264" %}
      - /dev/video10:/dev/video10
{% endif %}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./frigate.yml:/config/config.yml:ro
      - {{ frigate_storage_path }}:/media/frigate
      - /db
      - type: tmpfs # Optional: 1GB of memory, reduces SSD/SD Card wear
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "5000:5000"
      - "1935:1935" # RTMP feeds
    environment:
      # TODO: make a list & loop over indices
      FRIGATE_RTSP_PASSWORD0: "{{ frigate_rtsp_password0 }}"
      FRIGATE_RTSP_PASSWORD1: "{{ frigate_rtsp_password1 }}"
      FRIGATE_RTSP_PASSWORD2: "{{ frigate_rtsp_password2 }}"
      FRIGATE_RTSP_PASSWORD3: "{{ frigate_rtsp_password3 }}"
      FRIGATE_VIVINT_USER: "user"
{% if frigate_configure_mqtt_broker %}

  mqtt:
    container_name: mqtt
    image: eclipse-mosquitto:2
    volumes:
      - ./mosquitto/logs/:/mosquitto/logs/
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto/mqtt-auth.conf:/mosquitto/config/mqtt-auth.conf
      - ./mosquitto/mqtt-acl.conf:/mosquitto/config/mqtt-acl.conf
    restart: unless-stopped
    networks:
      - frigate
    ports:
      - "1883:1883"
{% endif %}

networks:
  frigate:
